In [1]:
# Importamos las librerias ast y pandas
import ast
import pandas as pd

In [2]:
# Se abre el archivo en formato json "steam_games" y se lee el archivo linea por linea y aplicamos la funcion ast.literal_eval()
# a cada una de las lineas
data = []
with open('steam_games.json') as steam:
    for linea in steam.readlines():
        data.append(ast.literal_eval(linea))

In [3]:
# Convertimos nuestra data a un DataFrame para que nos facilite el trabajo transformacion de la data
df = pd.DataFrame(data)
df.head()

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.49,http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro,NaN,NaN
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL,Mostly Positive,NaN
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",NaN,http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com,Mostly Positive,NaN
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",0.83,http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域,NaN,NaN
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",1.79,http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN,NaN,NaN

In [4]:
# Se realiza un checkeo general del dataset y asi tener mejor comprension de los campos que contiene
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
dtypes: bool(1), float64(1), object(14)
memory usage: 3.7+ MB

In [5]:
# Despues de mirar cada uno de los campos se toma a considerar campos especificos y crear un nuevo dataset,
# los cuales son requeridos para el desarrollo de las funciones
dataset = df[['title','genres','release_date','price','specs','early_access','metascore','sentiment']]

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         30085 non-null  object
 1   genres        28852 non-null  object
 2   release_date  30068 non-null  object
 3   price         30758 non-null  object
 4   specs         31465 non-null  object
 5   early_access  32135 non-null  bool
 6   metascore     2677 non-null   object
 7   sentiment     24953 non-null  object
dtypes: bool(1), object(7)
memory usage: 1.7+ MB

In [7]:
# Checkeamos los valores unicos de los genres y donde nos muestran cada uno de los generos en 
# especifico y se encuentran unos registro 'nan'
dataset['genres'].explode().unique()

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure', nan, 'Racing',
       'Early Access', 'Massively Multiplayer',
       'Animation &amp; Modeling', 'Video Production', 'Utilities',
       'Web Publishing', 'Education', 'Software Training',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting'], dtype=object)

In [8]:
# Contamos la cantidad de nulos y se decide eliminarlos por ser un numero menor con respecto 
# a la cantidad total
dataset['genres'].isnull().sum()

3283

In [9]:
# Borramos los nulos
dataset.dropna(subset='genres', inplace=True)

C:\Users\angel\AppData\Local\Temp\ipykernel_15572\430004892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(subset='genres', inplace=True)

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28852 entries, 0 to 32133
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         28851 non-null  object
 1   genres        28852 non-null  object
 2   release_date  28834 non-null  object
 3   price         27622 non-null  object
 4   specs         28566 non-null  object
 5   early_access  28852 non-null  bool
 6   metascore     2613 non-null   object
 7   sentiment     22536 non-null  object
dtypes: bool(1), object(7)
memory usage: 1.8+ MB

In [11]:
# En todas y cada uno de las funciones el campo de importancia es la fecha, por esto se realizan cambios
# relevantes, tales como:
# Se guardan solo los registron que no tengan release_date nula 
dataset = dataset[dataset['release_date'].notna()]

In [12]:
# Se hace el cambio de formato de fecha a AAAA-mm-dd 
dataset['release_date']= pd.to_datetime(dataset['release_date'],format='%Y-%m-%d', errors='coerce')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28834 entries, 0 to 32133
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         28833 non-null  object
 1   genres        28834 non-null  object
 2   release_date  28549 non-null  datetime64[ns]
 3   price         27618 non-null  object
 4   specs         28548 non-null  object
 5   early_access  28834 non-null  bool
 6   metascore     2610 non-null   object
 7   sentiment     22532 non-null  object
dtypes: bool(1), datetime64[ns](1), object(6)
memory usage: 1.8+ MB

In [13]:
# Se crea una nueva columna 'release_year', donde se extrae el año de especifico de lanzamiento
dataset['year'] = dataset['release_date'].dt.year
dataset['year']= dataset['year'].astype('Int16')
dataset['year']

0        2018
1        2018
2        2017
3        2017
5        2018
         ...
32129    2018
32130    2018
32131    2018
32132    2018
32133    2017
Name: year, Length: 28834, dtype: Int16

In [16]:
# Revisamos el price para considerar cambios en la variable
print(dataset['price'].dtype)
print(dataset['price'].unique())
print(dataset['price'].isnull().sum())

object
[4.99 'Free To Play' 'Free to Play' 0.99 3.99 9.99 18.99 29.99 nan 10.99
 2.99 1.59 14.99 1.99 59.99 8.99 6.99 7.99 39.99 'Free' 19.99 7.49 12.99
 5.99 2.49 15.99 1.25 24.99 17.99 61.99 3.49 11.99 13.99 'Free Demo'
 'Play for Free!' 34.99 1.49 32.99 99.99 14.95 69.99 16.99 79.99 49.99 5.0
 44.99 13.98 29.96 109.99 149.99 771.71 'Install Now' 21.99 89.99
 'Play WARMACHINE: Tactics Demo' 0.98 139.92 4.29 64.99 'Free Mod' 54.99
 74.99 'Install Theme' 0.89 'Third-party' 0.5 'Play Now' 299.99 1.29
 119.99 3.0 15.0 5.49 23.99 49.0 20.99 10.93 1.39
 'Free HITMAN™ Holiday Pack' 36.99 4.49 2.0 4.0 1.95 1.5 199.0 189.0 6.66
 27.99 129.99 179.0 26.99 399.99 31.99 399.0 20.0 40.0 3.33 22.99 320.0
 38.85 71.7 995.0 27.49 3.39 6.0 19.95 499.99 199.99 16.06 4.68 131.4
 44.98 202.76 2.3 0.95 172.24 249.99 2.97 10.96 10.0 30.0 2.66 6.48 1.0
 11.15 'Play the Demo' 99.0 87.94 0.49 9.98 9.95 7.0 12.89 6.49 1.87 42.99
 41.99 289.99 'Free to Try' 23.96 5.65 12.0 59.95 13.37 189.96 124.99
 19.98 160.91 'Free to Use']
1216

In [17]:
# Como se puede observar el campo 'price' es de tipo object, contiene registro no numericos y nulos
# Entonces convertimos el campo en numerico y rellenamos los no numericos en 0
dataset['price'] = pd.to_numeric(df['price'], errors='coerce').fillna(0)

In [18]:
dataset['price'].describe()

count    28834.000000
mean         8.625212
std         15.721177
min          0.000000
25%          1.990000
50%          4.990000
75%          9.990000
max        995.000000
Name: price, dtype: float64

In [19]:
# Cambiamos el campo 'metascore' a numerico
dataset['metascore'] = pd.to_numeric(df['metascore'], errors='coerce')

In [20]:
dataset['metascore'].describe()

count    2542.000000
mean       72.198269
std        10.844725
min        20.000000
25%        66.000000
50%        74.000000
75%        80.000000
max        96.000000
Name: metascore, dtype: float64

In [21]:
#Checkeamos los valores nulos y se observa que hay unos regisros nulos 
dataset['metascore'].unique()

array([nan, 96., 84., 80., 76., 70., 69., 81., 75., 72., 66., 67., 77.,
       91., 89., 83., 61., 88., 65., 94., 57., 86., 87., 92., 79., 82.,
       58., 74., 85., 90., 68., 71., 60., 73., 59., 64., 54., 53., 78.,
       51., 44., 63., 38., 56., 49., 52., 62., 93., 48., 34., 95., 43.,
       55., 24., 46., 41., 20., 39., 45., 35., 47., 40., 36., 50., 32.,
       37., 33., 42., 27., 29., 30.])

In [22]:
# Se considera borrar los nulos de los registros para obtener un campo limpio
dataset.dropna(subset='metascore', inplace=True)

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2542 entries, 28 to 32117
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2542 non-null   object
 1   genres        2542 non-null   object
 2   release_date  2534 non-null   datetime64[ns]
 3   price         2542 non-null   float64
 4   specs         2538 non-null   object
 5   early_access  2542 non-null   bool
 6   metascore     2542 non-null   float64
 7   sentiment     2523 non-null   object
 8   year          2534 non-null   Int16
dtypes: Int16(1), bool(1), datetime64[ns](1), float64(2), object(4)
memory usage: 168.8+ KB

In [24]:
dataset.to_csv('data_games.csv')